.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
    padding: 0.7rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;

    font-size: 1.1rem;
    text-align: center;

    color: white;
    border-radius: 0.7rem;
    border: none;
    display: flex;
    width: fit-content;
    margin: 0;
    transition-duration: 0.1s;
    cursor: pointer;
    font-weight: normal;
}

.tab-button {
    font-size: 1.1rem;

    padding: 0.7rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;

    border-radius: 0.7rem;
    border: none;

    cursor: grab;
    background-color: transparent;
    color: var(--primary);
}

.tab-button:hover {
    transition-duration: 0s;
    background-color: var(--surface-5);
}

.button-1 {
    background-color: var(--primary);
}

.button-1:hover {
    background-color: var(--primary-darken-2);
    color: var(--primary-lighten-2);
}

.button-2 {
    background-color: var(--tertiary-darken-2);
}

.button-2:hover {
    background-color: var(--tertiary-darken-1);
}

.button-3 {
    /*background-color: var(--secondary-lighten-2);
    border: solid 0.1rem;
    */
    background-color: var(--secondary-lighten-2);
    color: var(--secondary);
}

.button-3:hover {
    background-color: var(--secondary);
    color: var(--secondary-lighten-2);
}

.button-4 {
    background-color: var(--quaternary-lighten-3);
    color: var(--quaternary-darken-1);
}

.button-4:hover {
    color: var(--quaternary);
}

.button-5 {
    background-color: var(--quaternary);
}

.button-5:hover {
    background-color: var(--quaternary-darken-1);
}

.button-5 {
    background-color: hsl(240, 68%, 67%);
}

.button-5:hover {
    background-color: hsl(240, 68%, 57%);
}

.back-button {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    color: var(--primary);
    border: none;
}
