.course-page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 2rem;
    position: relative;

    background-color: var(--surface);
    width: 65rem;
    min-width: 20rem;
}

.course-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.course-list-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.3rem;
    max-width: 30rem;
    width: fit-content;
    flex-shrink: 1;
    flex-grow: 1;
    box-shadow: 0 0 1.5rem var(--shadow);
    border-radius: 0.5rem;
    transition-duration: 0.03s;
    border: 0.2rem solid transparent;
}

.course-list-item:hover {
    border-color: var(--tertiary-lighten-3);
}

.course-content-block {
    display: flex;
    flex-direction: row;
    padding: 0rem .5rem 0rem .5rem;
    border: 0.1rem solid var(--primary-lighten-1);
    color: var(--primary-lighten-1);
    border-radius: 0.5rem;
    height: fit-content;
}

.course-content-block:hover {
    text-decoration: underline;
}

.add-course-content-form {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    min-width: fit-content;

    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--shadow);
    color: var(--tertiary);
    font-size: 2rem;
    font-family: inherit;

    padding: 2rem;
}

.multichoice-radio-label {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
}

.multichoice-radio {
    background-color: var(--primary-lighten-3);
    width: 100%;
    border-bottom: 0.1rem solid var(--tertiary-lighten-2);
}

.multichoice-radio:hover {
    background-color: var(--primary-lighten-2);
}
