input {
    background-color: var(--quaternary-lighten-3);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border: 0.13rem solid transparent;
    padding: 0.7rem;
    color: var(--tertiary);
    margin:0;
    transition-duration: 0.05s;
}
input[type="text"] {
    width:100%;
}

input:focus {
    transition-duration: 0.05s;
    border-color: var(--primary-lighten-1);
}

textarea,
.textarea {
    border-radius: 0.3rem;
    border: 0.1rem solid transparent;
    outline: none;
    margin: 0;
    padding: 0.5rem;
    transition-duration: 0.05s;
    background-color: var(--quaternary-lighten-3);
}

textarea:focus,
.textarea:focus {
    border-color: var(--primary-lighten-1);
}

.checkbox {
    cursor: pointer;
    border: solid 0.1rem var(--quaternary-lighten-2);
    border-radius: 0.5rem;
    padding: 0.2rem 0.7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

.checkbox:hover {
    background-color: var(--quaternary-lighten-3);
}

::placeholder {
    color: var(--primary-darken-2);
    opacity: 0.5;
}
