input {
    padding: 0.7rem;
    margin:0;

    border-radius: 0.5rem;
    border: 0.13rem solid transparent;
    outline: none;

    font-size: 1.2rem;

    color: var(--primary-darken-2);
    background-color: var(--surface-5);
    transition-duration: 0.05s;
}
input[type="text"] {
    width: auto;
    min-width: 0rem;
}

input:focus {
    transition-duration: 0.05s;
    border-color: var(--primary-lighten-1);
}

textarea,
.textarea {
    max-width: 100%;
    margin: 0;
    padding: 0.5rem;

    border-radius: 0.5rem;
    border: 0.13rem solid transparent;
    outline: none;

    font-family: inherit;
    font-size: 1.2rem;

    color: var(--primary-darken-2);
    background-color: var(--surface-5);
    transition-duration: 0.05s;
}

textarea:focus,
.textarea:focus {
    border-color: var(--primary-lighten-1);
}

.checkbox {
    height: 3rem;
    margin:0;
    padding: 0.2rem 0.7rem;

    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--surface-4);
    cursor: pointer;
}

.checkbox:hover {
    background-color: var(--surface-5);
}

::placeholder {
    color: var(--primary-darken-2);
    opacity: 0.5;
}
