.login-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--surface-3);
    padding: 1.8rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 3rem var(--shadow);
    min-width: 0rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
