@import "buttons.css";
@import "courses.css";
@import "inputs.css";
@import "login.css";
@import "text.css";
@import "top-bar.css";

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooting: grayscale;

    --primary-darken-3:  hsl();
    --primary-darken-2:  hsl(230, 71%, 21%);
    --primary-darken-1:  hsl(230, 72%, 33%);
    --primary:           hsl(230, 80%, 40%);
    --primary-lighten-1: hsl(230, 70%, 60%);
    --primary-lighten-2: hsl(230, 60%, 70%); /**/
    --primary-lighten-3: hsl(230, 80%, 90%);


    --secondary-darken-2:  hsl(350,   50%, 20%);
    --secondary-darken-1:  hsl(350,   50%, 40%);
    --secondary:           hsl(350,   50%, 50%);
    --secondary-lighten-1: hsl(350,   50%, 80%);
    --secondary-lighten-2: hsl(350,   50%, 90%);

    --tertiary-darken-3: hsl(225, 30%, 20%);
    --tertiary-darken-2: hsl(225, 30%, 30%);
    --tertiary-darken-1: hsl(225, 30%, 40%);
    --tertiary: hsl(225, 30%, 50%);
    --tertiary-lighten-1: hsl(225, 30%, 70%);
    --tertiary-lighten-2: hsl(225, 35%, 90%);
    --tertiary-lighten-3: hsl(225, 40%, 97%);


    --quaternary-darken-2:  hsl(203, 40%, 30%);
    --quaternary-darken-1:  hsl(203, 60%, 40%);
    --quaternary:           hsl(203, 70%, 60%);
    --quaternary-lighten-1: hsl(203, 70%, 80%);
    --quaternary-lighten-2: hsl(203, 70%, 90%);
    --quaternary-lighten-3: hsl(203, 70%, 97%);

    --surface-1: hsl(235, 100%, 99%);
    --surface-2: hsl(235, 100%, 97%);
    --surface-3: hsl(235, 100%, 96%);
    --surface-4: hsl(235, 100%, 94%);
    --surface-5: hsl(235, 100%, 92%);
    --surface-6: hsl(235, 100%, 90%);

    --shadow: hsl(225, 100%, 29%, 0.10);
    --success: hsl(132, 30%, 60%);
    --link: hsl(230, 95%, 45%);
}

html {
    box-sizing: border-box;
    display: flex;

    min-height:100vh;
    /*
    flex-direction: column;
    z-index: -10;
    background-image: linear-gradient(hsl(151, 100%, 12%), hsl(295, 100%, 11%)) ;
    */
}


.disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-moz-transition: none !important;
    -o-moz-transition: none !important;
    transition: none !important;
}
* {
    transition: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body, html {
    transition: all;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    z-index: -2;

    background-color: black;
    background-image: url("/static/bitmap.svg");
    background-repeat: repeat-y;
    background-position: 0 -30rem;
    background-size: cover;
    overflow: auto;
}

a {
    color: rgba(0, 100, 255);
    color: var(--link);
    font-weight: bold;
}
a:hover {
    color: var(--primary-lighten-2);
}

.link-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

hr {
    border: solid 0.1rem var(--surface-5);
}

table {
    font-size: 0.8rem;
    font-size: 1.2rem;
    color: var(--tertiary);
    border-collapse: collapse;
}

td,
th {
    padding: 0.7rem 1.4rem;
    border: 0.1rem solid;
    border-color: var(--surface-4);
    background-color: var(--surface-5);
    text-align: center;
}

.narrow-page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.empty-page-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--surface-3);
    padding: 1rem;
    border-radius: 0.5rem;
    justify-content: flex-start;
    align-content: center;
    width: fit-content;
}

.notice-container {
    border: 0.1rem solid var(--primary-lighten-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.error-notif-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    z-index: 2;
    background-color: var(--secondary-lighten-1);
    height: 3rem;
}

.error-notif {
    color: var(--secondary-darken-2);
    align-self: center;
    font-weight: normal;
    font-size: 1.3rem;
}

.error-close-button {
    display: none;
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.3rem;
    color: var(--secondary-darken-1);
    background-color: var(--secondary-lighten-2);
    border-radius: 2rem;


    align-self: center;
    text-align: center;

    border: none;
    cursor: pointer;
}

.error-close-button:hover {
    color: var(--secondary);
}
