.top-bar {
    width: 100%;
    padding: 0rem;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    z-index: 1;

    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 0.5rem;
    grid-template-rows: none;

    background: hsla(240, 70%, 15%, 0.4);
    box-shadow: 0 0 1rem var(--shadow);
}

.item1 {
    grid-column: 1 / 1;
    align-self: center;
}

.item2 {
    grid-column: 2 / 2;
    align-self: center;
}

.item3 {
    grid-column: 4 / 4;
    align-self: center;
}

.item4 {
    grid-column: 5 / 5;
    align-self: center;
}

.top-bar-button {
    height: 4rem;
    margin: 0;
    padding: 0rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-weight: normal;
    font-size: 1.25rem;

    color: var(--primary-darken-1);
    color: white;
    transition-duration: 0.25s;
}

.top-bar-button:hover {
    color: var(--primary-lighten-2);
    transform: translateY(0.15rem);
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.25s;
}

@media screen and (max-width: 900px) {
    .top-bar {
        padding-left: 2%;
        padding-right: 2%;
    }
}