@import "buttons.css";
@import "courses.css";
@import "inputs.css";
@import "login.css";
@import "text.css";

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooting: grayscale;

    --primary-darken-3: hsl(224, 30%, 10%);
    --primary-darken-2: hsl(224, 40%, 20%);
    --primary-darken-1: hsl(224, 60%, 40%);
    --primary: hsl(224, 80%, 60%);
    --primary-lighten-1: hsl(224, 100%, 80%);
    --primary-lighten-2: hsl(224, 100%, 90%);
    --primary-lighten-3: hsl(224, 100%, 98%);


    --secondary-darken-2: hsl(3, 25%, 20%);
    --secondary-darken-1: hsl(3, 30%, 40%);
    --secondary: hsl(6, 50%, 60%);
    --secondary-lighten-1: hsl(10, 80%, 80%);
    --secondary-lighten-2: hsl(15, 100%, 90%);

    --tertiary-darken-3: hsl(225, 30%, 20%);
    --tertiary-darken-2: hsl(225, 30%, 30%);
    --tertiary-darken-1: hsl(225, 30%, 40%);
    --tertiary: hsl(225, 30%, 50%);
    --tertiary-lighten-1: hsl(225, 30%, 70%);
    --tertiary-lighten-2: hsl(225, 35%, 90%);
    --tertiary-lighten-3: hsl(225, 40%, 97%);


    --quaternary-darken-2: hsl(203, 40%, 30%);
    --quaternary-darken-1: hsl(203, 60%, 40%);
    --quaternary: hsl(203, 80%, 60%);
    --quaternary-lighten-1: hsl(203, 100%, 70%);

    --surface: hsl(0, 100%, 100%);
    --shadow: hsl(220, 100%, 20%, 0.10);
    --success: hsl(132, 30%, 60%);
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: absolute;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    z-index: -2;
}


a {
    color: rgba(0, 100, 255);
    font-weight: bold;
}

.link-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

table {
    font-size: 0.8rem;
    font-size: 1.2rem;
    color: var(--tertiary);
    border-collapse: collapse;
}

td,
th {
    padding: 0.7rem 1.4rem;
    border: 0.1rem solid;
    border-color: var(--tertiary-lighten-2);
    background-color: var(--tertiary-lighten-3);
    text-align: center;
}

.bg {
    position: absolute;
    align-self: center;
    left: 0;
    top: 0;
    overflow: clip;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 1;
    background-color: var(--tertiary);
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: min-content;
    width: 100%;
    height: 5rem;
    background-color: var(--surface);
    box-shadow: 0 0 1rem var(--shadow);
    padding: 0;
    margin: 0;
    z-index: 1;
}

.top-bar-item {
    color: var(--primary-darken-1);
    font-weight: normal;
    height: 100%;
    font-size: 1.1rem;
    margin: 0;
    padding: 1.1rem;
    transition-duration: 0.08s;
}

.top-bar-item:hover {
    color: var(--primary-darken-1);
    opacity: 0.5;
    transform: translateY(0.15rem);
    transition-duration: 0.08s;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    overflow: visible;
}

.empty-page-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 0.5rem;
    justify-content: flex-start;
    align-content: center;
    width: fit-content;
}

.notice-container {
    border: 0.1rem solid var(--primary-lighten-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
}