{% extends "course-page-layout.html" %}
{% block course_content %}

<form style="width:100%" id="material-form" action="/courses/{{course.id}}/edit/add_material" method="POST">
    <h2>Add New Course Material</h2>
    <div style="display:flex; flex-direction:column;">
        <label for="title">Title</label>
        <textarea required class="p textarea" form="material-form" name="title" id="title"></textarea>
    </div>
    <div style="display:flex; flex-direction:column;">
        <label for="text">Text</label>
        <textarea required rows="10" class="p textarea" form="material-form" name="text" id="text"></textarea>
    </div>
    <button type="submit" class="button-1">Save</button>
</form>

{% endblock %}