{% extends "layout.html" %}
{% block content %}
<form id="material-form" action="/courses/{{course.id}}/edit/add_material" method="POST">
    <div class="add-course-content-form">
        <h2>Add New Course Material</h2>
        <div style="display:flex; flex-direction:column;">
            <label for="title">Title</label>
            <textarea class="p textarea" form="material-form" name="title" id="title"></textarea>
        </div>
        <div style="display:flex; flex-direction:column;">
            <label for="text">Text</label>
            <textarea rows="10" class="p textarea" form="material-form" name="text" id="text"></textarea>
        </div>
        <button type="submit" class="button-1">Submit</button>
    </div>
</form>
{% endblock %}