{% extends "course-page-layout.html" %}
{% block course_content %}

<h1>Statistics</h1>

{% if session.user_id in course.teacher_ids %}

<label for="submissions">Exercises completed by users</label>
<table id="submissions">
    <th colspan="2">{{course.name}}</th>
    <tbody>
        <th>Username</th>
        <th>Exercise name</th>
    {% for s in stats%}
        <tr>
            <td>{{s.username}}</td>
            <td>{{s.exercise_title}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}