{% extends "layout.html" %}
{% block content %}
<div class="course-page-container">
    <a href="/courses/{{course.id}}" class="link-button back-button">&laquo Course page</a>
    <h1>Statistics</h1>

    {% if session.user_id in course.teacher_ids %}

    <table>
        <th colspan="2">{{course.name}}</th>
        <tbody>
            <th>Username</th>
            <th>Exercises <br>completed</th>
        {% for s in stats%}
            <tr>
                <td>{{s.username}}</td>
                <td>{{s.submission_count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
{% endblock %}