<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<title>Opetussovellus</title>

<div class="top-bar">
    <a href="/"><h1>ptssvlls</h1></a>
    {% if session.username %}
    <a href="/profile"><div class="top-bar-item" style="align-self: flex-end;">{{session.username}}</div></a>
    {% else %}
    <a href="/login"><div class="top-bar-item" style="align-self: flex-end;">Login</div></a>
    {% endif %}
</div>

<div class="page-content">
    <img class="bg" src="/static/bitmap.svg">
    {% block content %}{% endblock %}
</div>