{% extends "layout.html" %}
{% block content %}
<div class="login-container">
    {% if error_msg %}
    <p class="error-msg">{{ error_msg }}</p>
    {% endif %}
    <h2>Login / Create a New Account</h2>
    <br>
    <form class="login-form" method="POST">
        <div style="display:flex; flex-direction: column;">
        <label for="username-input">Username</label>
        <input id="username-input" type="text" name="username" placeholder="username">
        </div>

        <div style="display:flex; flex-direction: column;">
        <label for="password-input">Password</label>
        <input id="password-input" type="password" name="password" placeholder="password">
        </div>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <button class="button-1" formaction="/login" type="submit">login</button>
            <button class="button-2" formaction="/register" type="submit">register</button>
        </div>
        <div>
        <p>
        Press 'login' to login into an existing account. If you don't
        </p>
        <p>
        already have one, you can create one by choosing 'register'.
        </p>
        </div>
    </form>
</div>

<script>
</script>

{% endblock %}