{% extends "course-page-layout.html" %}
{% block course_content %}

<h1>Add New Exercise</h1>

<div>
    <h2 for="type">Exercise type</h2>
    <form style="display: flex; flex-direction: row;">
        <input checked onchange="changeFormType('essay')" id="essay" value="essay" type="radio" name="exercise-type">
        <label for="essay" style="font-weight: normal;">Essay</label>
        <input onchange="changeFormType('multi')" id="multiple-choice" value="multiple-choice" type="radio"
            name="exercise-type">
        <label for="multiple-choice" style="font-weight: normal;">Multiple choice</label>
    </form>
</div>

<form style="width:100%" id="exercise-form" action="/courses/{{course.id}}/edit/add_exercise" method="POST">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">

    <div style="display:flex; flex-direction:column;">
        <label for="max-points">Grading (max points)</label>
        <div style="flex-direction: row;">
            <input type="number" max=999 min=1 style="width:6rem;padding:0.5rem" required form="exercise-form"
                name="max-points" id="max-points"></textarea>
            <label for="max-points">points</label>
        </div>
    </div>
    <div style="display:flex; flex-direction:column;">
        <label for="title">Title</label>
        <textarea required placeholder="e.g. 'Exercise 1'" class="textarea" form="exercise-form" name="title" id="title"
            style="padding:0.5rem"></textarea>
    </div>
    <div style="display:flex; flex-direction:column;">
        <label for="question">Question</label>
        <textarea required placeholder="e.g. 'How tall is Mount Everest?'" rows="5" class="textarea"
            form="exercise-form" name="question" id="question" style="padding:0.5rem"></textarea>
    </div>

    <!-- -->
    <div id="text-answer-cont" style="display:flex; flex-direction:column;">
        <label for="text-answer">Correct answer</label>
        <textarea required placeholder="e.g. '8848 meters.'" rows="5" class="textarea" form="exercise-form"
            name="answer" id="text-answer" style="padding:0.5rem"></textarea>
    </div>

    <div id="choices-cont" style="display:none;">
        <label for="choices">Choices</label>
        <p>A semicolon separated list of choices.</p>
        <textarea oninput="setAnswerOptions()" placeholder="e.g. '6626 meters; 7737 meters; 8848 meters'" rows="5"
            class="textarea" form="exercise-form" name="choices" id="choices" style="padding:0.5rem"></textarea>
    </div>
    <div id="choice-answer-cont" style="display:none;">
        <label for="choice-answer">Correct answer</label>
        <select style="width:20rem;" form="exercise-form" name="answer" id="choice-answer">
        </select>
    </div>
    <!-- -->
    <br>
    <button type="submit" class="button-1">Save</button>
</form>

<script>
    function changeFormType(type) {
        let choicesCont = document.getElementById("choices-cont");
        let choicesTextarea = document.getElementById("choices");

        let choiceAnswerCont = document.getElementById("choice-answer-cont");
        let choiceAnswerSelection = document.getElementById("choice-answer");

        let textAnswerCont = document.getElementById("text-answer-cont");
        let textAnswer = document.getElementById("text-answer");

        if (type === "essay") {
            textAnswerCont.setAttribute("style", "display: flex; flex-direction: column")
            textAnswer.setAttribute("name", "answer")
            textAnswer.setAttribute("required", true);

            choicesCont.setAttribute("style", "display: none;");
            choiceAnswerCont.setAttribute("style", "display: none");

            choiceAnswerSelection.removeAttribute("name");
            choiceAnswerSelection.removeAttribute("required");

            choicesTextarea.removeAttribute("required");
            choicesTextarea.value = null;

        } else if (type === "multi") {
            textAnswerCont.setAttribute("style", "display: none");
            textAnswer.removeAttribute("name");
            textAnswer.removeAttribute("required");

            choicesCont.setAttribute("style", "display: flex; flex-direction: column");
            choiceAnswerCont.setAttribute("style", "display: flex; flex-direction: column");

            choiceAnswerSelection.setAttribute("name", "answer");
            choiceAnswerSelection.setAttribute("required", true);

            choicesTextarea.setAttribute("required", true);
        }
    }
    function setAnswerOptions() {
        clearAnswerOptions();
        let choicesTextarea = document.getElementById("choices");
        let answerSelection = document.getElementById("choice-answer-cont").children[1];
        let choices = choicesTextarea.value;
        choices = choices.split(";")
        choices = choices.filter(e => e !== '');
        choices.forEach(e => {
            let c = document.createElement("option");
            c.value = e;
            c.innerText = e;
            answerSelection.appendChild(c);
        });
    }

    function clearAnswerOptions() {
        let choicesTextarea = document.getElementById("choices");
        let answerSelection = document.getElementById("choice-answer-cont").children[1];
        answerSelection.querySelectorAll("option").forEach(e => {
            e.remove();
        })
    }
</script>

{% endblock %}