{% extends "course-page-layout.html" %}
{% block course_content %}



<hgroup>
    <h1>{{course.name}}</h1>
    <p>{{course.description}}</p>
</hgroup>
{% if not session.username %}
<div class="notice-container">
    <p>You must <a style="color:var(--primary)" href="/login">log in</a> first before you can join any courses.</p>
</div>
{% endif %}



{% if session.user_id in course.participant_ids or session.user_id in course.teacher_ids %}

<!-- -->
<div class="course-page-content-list">
    <h2>Course Materials</h2>
    {% if text_materials.__len__() == 0 %}
    <p>No course materials</p>
    {% endif %}

    {% for m in text_materials %}
    <div class="course-content-block">
        <a class="link-button" href="/courses/{{course.id}}/materials/{{m.id}}">
            <h3 style="color:var(--primary); font-weight: normal; padding: 0.5rem;">{{m.title}}</h3>
        </a>
    </div>
    {% endfor %}
</div>
<!-- -->

<!-- -->
<div class="course-page-content-list">
    <h2>Course Exercises</h2>
    <div style="display:flex; flex-direction: column; gap: 0.5rem;">
        {% if exercises.__len__() == 0 %}
        <p>No exercises</p>
        {% else %}
        {% if session.user_id not in course.teacher_ids %}
        <p>Exercises completed: {{completion_count}}/{{exercises.__len__()}}</p>
        {% endif %}
        {% endif %}

        {% for e in exercises %}
        <div class="course-content-block">
            <a class="link-button" style="width: 100%;" href="/courses/{{course.id}}/exercises/{{e.id}}">
                <div style="width:100%; display: flex; justify-content: space-between;">
                    <h3 style="color:var(--primary); font-weight: normal; padding: 0.5rem;">{{e.title}}</h3>
                    {% if e.submitted_answer == None %}
                    <p style="color:var(--primary); font-weight: bold; padding: 0.5rem;">/ {{e.max_points}}</p>
                    {% elif e.grade == None %}
                    <p style="color:var(--primary); font-weight: bold; padding: 0.5rem;"> waiting for grading /
                        {{e.max_points}} 🗸</p>
                    {% else %}
                    <p style="color:var(--primary); font-weight: bold; padding: 0.5rem;">{{e.grade}} / {{e.max_points}}
                        🗸</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- -->

{% endif %}

{% if session.user_id and not session.user_id in course.teacher_ids %}

{% if session.user_id not in course.participant_ids %}
<form action="/courses/{{course.id}}/join" method="POST">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    <button type="submit" class="button-5">Enroll in course</button>
</form>
{% endif %}
{% endif %}
</div>

{% endblock %}