{% extends "layout.html" %}
{% block content %}

<div class="narrow-page-container">
    <div class="course-page-container" style="min-width: fit-content">
        <!-- -->
        <a href="/courses" class="link-button back-button">&laquo Courses</a>
        <!-- -->

        <!-- -->
        <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; border-bottom: 0.15rem solid var(--primary);">
            <div style="display: flex; flex-direction: row;">
                <a href="/courses/{{course.id}}" class="link-button tab-button" style="color:var(--primary); font-size:1.2rem; font-weight: normal;">Course page</a>
                {% if session.user_id in course.teacher_ids %}
                <a href="/courses/{{course.id}}/edit" class="link-button tab-button" style="color:var(--primary); font-size:1.2rem; font-weight: normal;">Edit course</a>
                <a href="/courses/{{course.id}}/stats" class="link-button tab-button" style="color:var(--primary); font-size:1.2rem; font-weight: normal;">View course statistics</a>
                {% endif %}
            </div>

            {% if session.user_id in course.participant_ids %}
            <form action="/courses/{{course.id}}/leave" method="POST">
            <button type="submit" class="tab-button" style="color: var(--secondary);">Leave course</button>
            </form>
            {% endif %}
        </div>
        <!-- -->

        <!-- -->
        {% block course_content %}
        {% endblock %}
        <!-- -->
    </div>
</div>

{% endblock %}