{% extends "course-page-layout.html" %}
{% block course_content %}

<h1>Completed exercises</h1>

{% if session.user_id in course.teacher_ids %}

<label for="submissions">Exercise submissions sent by users</label>
<table id="submissions">
    <tbody>
        <th>Username</th>
        <th>Exercise name</th>
    {% for s in stats%}
        <tr>
            <td>{{s.username}}</td>
            <td>{{s.exercise_title}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Participants</h1>
<label for="participants">Users currently enrolled in the course</label>
<table id="participants">
    <tbody>
        <th>Username</th>
    {% for p in participants%}
        <tr>
            <td>{{p}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endif %}

{% endblock %}