{% extends "course-page-layout.html" %}
{% block course_content %}


<!-- -->
<form style="width:100%;" id="course-info-form" action="/courses/{{course.id}}/edit/title_and_desc" method="POST">
    <div style="display: flex; flex-direction: column; gap: 0.5rem; width: 100%;">
        <label for="name">Course name</label>
        <textarea placeholder="Nameless course" form="course-info-form" style="width:100%; height: fit-content; white-space: nowrap;" class="h1 textarea" id="name" name="name">{{course.name}}</textarea>
        <label for="desc">Course description</label>
        <textarea placeholder="A course without a description." form="course-info-form" style="width:100%; height: fit-content; white-space: nowrap;" class="p textarea" id="desc" name="desc">{{course.description}}</textarea>
        <button type="submit" class="button-1">Update name and description</button>
    </div>
</form>
<!-- -->


<!-- -->
<a href="/courses/{{course.id}}/edit/add_material" class="button-1 link-button">+ New Text Material</a>
<!-- -->

<!-- -->
<a href="/courses/{{course.id}}/edit/add_exercise" class="button-1 link-button">+ New Exercise</a>
<!-- -->

<!-- -->
<form method="POST" action="/courses/{{course.id}}/delete">
<button class="button-2">Delete Course</button>
</form>
<!-- -->

{% endblock %}