{% extends "course-page-layout.html" %}
{% block course_content %}

<!-- -->
{% if session.user_id in course.teacher_ids %}
<p style="color:var(--secondary)">Note: you won't be able to submit answers as the course's teacher.</p>
{% endif %}
<!-- -->

<form style="width:100%;" id="answer-form" action="/courses/{{course.id}}/exercises/{{exercise.id}}/submit" method="POST">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">

    <div style="display: flex; flex-direction: column; gap:1rem;">
        <h2>{{exercise.question}}</h2>
        {% if exercise.submitted_answer == None %}
        <textarea required rows="7" class="textarea" name="answer" form="answer-form" type="text" placeholder="Answer here"></textarea>
        {% else %}
        <textarea required rows="7" class="textarea" readonly>{{exercise.submitted_answer}}</textarea>
        {% endif %}

        {% if exercise.submitted_answer == None %}
        {% if session.user_id in course.teacher_ids %}
        <button disabled class="button-1" style="opacity: 0.5;" type="submit">Submit answer</button>
        {% else %}
        <button class="button-1" type="submit">Submit answer</button>
        {% endif %}
        {% else %}
        <label for="correct-answer">Example answer:</label>
        <textarea rows="7" class="textarea" id="correct-answer" readonly>{{exercise.correct_answer}}</textarea>
        {% endif %}
    </div>
</form>

{% endblock %}