{% extends "course-page-layout.html" %}
{% block course_content %}

<!-- -->
{% if session.user_id in course.teacher_ids %}
<p style="color:var(--secondary)">Note: you won't be able to submit answers as the course's teacher.</p>
{% endif %}
<!-- -->

<form style="width:100%;" id="answer-form" action="/courses/{{course.id}}/exercises/{{exercise.id}}/submit" method="POST">
    <div style="display: flex; flex-direction: column; gap:1rem;">
        <h1>{{exercise.title}}</h1>

        {% if exercise.submitted_answer == None %}
        <!-- -->
        <div style="display: flex; flex-direction: column; gap: 0.3rem;">
            <label>{{exercise.question}}</label>
            {% for c in exercise.choices %}
            <div class="multichoice-radio" style="display: flex; flex-direction: row;">
                <input required id="{{c}}" value="{{c}}" type="radio" name="answer">
                <label class="multichoice-radio-label" for="{{c}}">{{c}}</label>
            </div>
            {% endfor %}
        </div>
        <!-- -->
        {% else %}
        <!-- -->
        <div style="display: flex; flex-direction: column; gap: 0.3rem;">
            <label>{{exercise.question}}</label>
            {% for c in exercise.choices %}
            <div class="multichoice-radio" style="display: flex; flex-direction: row;">
                {% if c == exercise.submitted_answer %}
                <input checked disabled required id="{{c}}" value="{{c}}" type="radio" name="answer">
                <label class="multichoice-radio-label" for="{{c}}">{{c}} (your answer)</label>
                {% else %}
                <input disabled required id="{{c}}" value="{{c}}" type="radio" name="answer">
                <label class="multichoice-radio-label" for="{{c}}">{{c}}</label>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <!-- -->

        {% endif %}
        <!-- -->

        <!-- -->
        {% if exercise.submitted_answer == None %}
        {% if session.user_id in course.teacher_ids %}
        <button disabled class="button-1" style="opacity: 0.5;" type="submit">Submit answer</button>
        {% else %}
        <button class="button-1" type="submit">Submit answer</button>
        {% endif %}
        {% else %}
        {% if exercise.submitted_answer == exercise.correct_answer %}
        <p style="font-size:1.2rem; color: var(--success); font-weight: bold;">Correct answer: {{exercise.correct_answer}}</p>
        {% else %}
        <p style="font-size:1.2rem; color: var(--secondary); font-weight: bold;">Correct answer: {{exercise.correct_answer}}</p>
        {% endif %}
        {% endif %}
        <!-- -->
    </div>
</form>

{% endblock %}