<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<title>Opetussovellus</title>

<div class="top-bar">
    <a class="link-button top-bar-item" href="/">📖 Courses</a>
    {% if session.is_teacher == True %}
    <a class="link-button top-bar-item" href="/new_course">＋ Create a course</a>
    {% endif %}
    {% if session.username %}
    <a class="link-button top-bar-item" href="/profile">
        {{session.username}}
        <span style="font-size:0.8rem;">
            {% if session.is_teacher == True %}
            (teacher)
            {% else %}
            (student)
            {% endif %}
        </span>
    </a>
    {% else %}
    <a class="link-button top-bar-item" href="/login">Login</a>
    {% endif %}
</div>

{% block content %}{% endblock %}
