{% extends "layout.html" %}
{% block content %}

<div class="empty-page-container">
    <main class="profile-card">
        <hgroup>
            <h1>Profile</h1>
            <h2>{{session.username}}</h2>
            {% if session.is_teacher == True %}
            <p>teacher</p>
            {% else %}
            <p>student</p>
            {% endif %}
        </hgroup>

        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <a href="/logout" class="button-1 link-button">Log out</a>
            <form action="/delete" method="POST">
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <button type="submit" class="button-3">Delete account</button>
            </form>
        </div>

    </main>
</div>

{% endblock %}