{% extends "layout.html" %}
{% block content %}

<div class="empty-page-container">
    <main class="login-card">
        {% if error_msg %}
        <p class="error-msg">{{ error_msg }}</p>
        {% endif %}
        <h1>Create a New Account</h1>
        <br>
        <form class="login-form" method="POST">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">

            <div style="display:flex; flex-direction: column;">
                <label for="username-input">Username</label>
                <input required minlength="3" maxlength="20" id="username-input" type="text" name="username"
                    placeholder="username">
            </div>

            <div style="display:flex; flex-direction: column;">
                <label for="password-input">Password</label>
                <input required minlength="3" maxlength="20" oninput="confirmPassword()" id="password-input"
                    type="password" name="password" placeholder="password">
            </div>

            <div style="display:flex; flex-direction: column;">
                <label for="confirm-password-input">Confirm Password</label>
                <input required minlength="3" maxlength="20" oninput="confirmPassword()" id="confirm-password-input"
                    type="password" name="confirm-password" placeholder="password">
            </div>

            <p id="password-error" hidden style="display:none; color:red">Passwords do not match</p>

            <div>
                <h3>Account type</h3>
                <input id="student" type="radio" value="student" name="role" checked>
                <label for="student">Student</label>
                <input id="teacher" type="radio" value="teacher" name="role">
                <label for="teacher">Teacher</label>
            </div>

            <div style="display: flex; flex-direction: row; gap: 1rem;">
                <button id="register-submit" class="button-1" formaction="{{url_for('register')}}" type="submit">Register</button>
            </div>

            <div>
                <p>
                    To login into an existing account instead, go to the <br><a href="{{url_for('login')}}"
                        style="text-decoration: underline;">login page</a>
                </p>
            </div>
        </form>
    </main>
</div>

<script>
    function confirmPassword() {
        errorTextStyle = "color: var(--secondary); margin: 0; padding: 0;";
        errorInputStyle = "color: var(--secondary); border-color: var(--secondary-lighten-1); background-color: var(--secondary-lighten-2);";
        errorButtonStyle = "opacity: 0.7; background-color: var(--tertiary-lighten-1);"

        let psw = document.getElementById("password-input");
        let pswConfirm = document.getElementById("confirm-password-input");
        let pswError = document.getElementById("password-error");
        let submitButton = document.getElementById("register-submit");

        if (psw.value !== pswConfirm.value && (psw.value.length !== 0 && pswConfirm.value.length !== 0)) {
            pswError.setAttribute("style", errorTextStyle + "display:block;");
            pswError.setAttribute("hidden", false);
            pswConfirm.setAttribute("style", errorInputStyle);
            submitButton.setAttribute("disabled", true);
            submitButton.setAttribute("style", errorButtonStyle);
        } else {
            pswError.setAttribute("style", "display:none;");
            pswError.setAttribute("hidden", true);
            pswConfirm.removeAttribute("style");
            submitButton.removeAttribute("disabled");
            submitButton.removeAttribute("style");
        }
    }
</script>

{% endblock %}